$theme_gradient: linear-gradient(315deg, #02bd3a, #00bb78, #00b6a4, #00aebe, #04a3c4);

@mixin fa-replacement{
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  color: #0D7191;
}

.btn {
  background: white;
  border-radius: 5px;
  border: 2px solid #eeeeee;
  color: #919191;

  &:hover {
    background: #eeeeee;
    color: #222;
  }

  .bulk-select-topics & {
    padding: 0px 12px;
    line-height: 1;
  }

  .select-kit.dropdown-select-box &.dropdown-select-box-header {
    border: 2px solid #eeeeee;
  }
}

.combo-box-header {
  .list-controls .combo-box & {
    background: white;
    border-radius: 5px;
    border: 2px solid #eeeeee;
    color: #919191;

    &:hover {
      background: #eeeeee;
      color: #222;
    }
  }

  .select-kit.combo-box.category-drop & {
    padding: 6px 12px;
  }
}

.d-icon {
  .select-kit.dropdown-select-box:hover .dropdown-select-box-header & {
    color: #222;
  }
}

.badge-wrapper.bullet span.badge-category {
  color: #40a4c4;
}

.d-header {
  background: $theme_gradient;

  .header-dropdown-toggle {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    .icon {
      border-radius: 5px;
      border: 2px solid transparent;
      color: white;
      opacity: 0.5;

      &:hover {
        border: 2px solid white;
        background: initial;
        color: white;
        opacity: 0.7;
      }

      .d-icon {
        opacity: 1;
      }
    }

    &.active {
      .icon {
        border: 2px solid white;
        background: initial;
        color: white;
        opacity: 0.9;
      }
    }
  }
}

.list-container {
  border-radius: 5px;
  border: 2px solid #eeeeee;
  background: white;
  padding: 10px;
}

.nav-pills {
  li a {
    border-radius: 5px;

    &:hover {
      background: $theme_gradient;
      color: white;
      opacity: 0.5;
    }
  }

  li.active a {
    background: $theme_gradient;
    color: white;

    &:hover {
      opacity: 1;
    }
  }
}

.topic-post {
  .topic-avatar {
    float: none;
    padding: 5px;
    background: white;
    margin-bottom: -42px;
    margin-left: 10px;
    border: none;
    border-radius: 50%;

  }

  .topic-body {
    width: 735px;
    background: white;
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 7px 10px #cecece;

    .topic-meta-data {
      color: white;
      padding: 5px 15px 5px 75px;
      margin: -12px -12px 10px -12px;
      background-image: $theme_gradient;
    }
  }

  .names span a,
  .names .fa ,
  .topic-meta-data .post-info a {
    color: white;
  }

}

.topic-list {
  display: block;

  tr, td, th, tbody, thead {
    display: block;
  }

  .topic-list-item { display: flex; }

  tbody {
    border: none;
  }

}

.topic-list thead  {
  margin-bottom: 2px;

  tr {
    border: none;
    display: flex;
    justify-content: space-between;
  }

  .default {
    order: 0;
    flex-grow: 2;
  }

  .category {
    display: none;
    align-self: flex-start;
  }

  .posters {
    order: 2;
    align-self: flex-end;
    text-align: right;
  }

  .posts {
    order: 3;
    align-self: flex-end;
  }

  .views {
    order: 4;
    align-self: flex-end;
  }

  .activity {
    order: 5;
    align-self: flex-end;
    width: 70px;
  }
}

.topic-list-item {
  background: white;
  width: 100%;
  border: 2px #eeeeee solid;
  border-top: none;
  border-radius: 5px;
  margin-bottom: 3px;
  flex-flow: row wrap;
  justify-content: flex-end;

  .topic-list tbody &.last-visit {
    border-bottom: 2px #eeeeee solid;
    margin-bottom: 18px;
  }

  td {
    display: block;
    align-self: center;
    order: 1;
  }

  &::before {
    display: block;
    background: $theme_gradient;
    content: '';
    height: 5px;
    width: calc(100% + 4px);
  }

  .main-link {
    order: 6;
    width: 100%;
    padding: 0;

    &:first-of-type {
      padding-left: 30px;
      border-left: none;
    }

    a.title {
      display: block;
      padding: 5px 30px 10px 0px;
    }
  }

  td.bulk-select{
    order: 0;
    padding: 0;
    padding-left: 5px;
    align-self: flex-start;

    &+.main-link {
      padding-left: 30px;
    }

    &~.category {
      .badge-category-bg {
        display: none;
      }
    }
  }

  .category {
    display: block;
    order: 0;
    padding: 0;
    flex-grow: 2;
    align-self: flex-start;

    .badge-wrapper {
      padding-left: 7px;

      .badge-category-bg {
        margin-top: 2px;
        width: 10px;
        height: 10px;
        margin-right: 8px;
        border-radius: 3px;
      }
    }
  }

  .num {
    padding: 5px;
    align-self: flex-end;
  }

  .posts {
    order: 3;

    &.num a {
      padding: 0;
    }

    &::before {
      @include fa-replacement;
      content: "\f086";
    }
  }

  .activity {
    order: 5;
    &::before {
      @include fa-replacement;
      content: "\f017";
    }
    width: 70px;
  }

  .views {
    order: 4;
    &::before {
      @include fa-replacement;
      content: "\f06e";
    }

    .number {
      padding: 0 5px;
    }
  }

  .posters {
    align-self: flex-end;
    padding: 5px;
    order: 2;
    text-align: right;

    .topic-list & {
      height: auto;
    }

    a {
      float: none;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.topic-list-item-separator {
  display: block;
  margin-bottom: 10px;
}

.fps-result {
  display: block;
  background: white;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  box-shadow: 1px 7px 10px #cecece;
  position: relative;
  padding: 10px;
  padding-top: 30px;

  &:before {
    content: '';
    display: block;
    height: 20px;
    background: $theme_gradient;
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
  }

  .badge-wrapper {
    position: absolute;
    top: 25px;
    right: 0px;
    color: white;
  }

  .author{
    display: block;
    position: absolute;
    top: -15px;
    left: 10px;

    .avatar {
      margin: 0;
      padding: 5px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: white;
    }
  }

  .topic {
    display: block;
    margin-bottom: 5px;
  }

  a.search-link {
    .topic-title {
      color: #04a3c4;
    }

    &:visited .topic-title,
    &:hover .topic-title {
      color: #0D7191;
    }
  }

  .blurb {
    .date {
      margin-right: 5px;
      font-weight: bold;
      color: #04a3c4;
    }

    .search-highlight {
      color: #00bb78;
    }
  }
}

.search-container {
  .search-advanced-sidebar {
    .search-advanced-title {
      background: $theme_gradient;
      color: white;
    }

    .search-advanced-filters {
      background: white;
      border: 2px solid #eeeeee;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top: 0;
      box-shadow: 1px 7px 10px #cecece;

      input, .select-kit-header  {
        border: 2px solid #eeeeee;
        border-radius: 5px;
      }

      div.ac-wrap {
        border: none;
      }
    }
  }

  input,
  .select-kit.combo-box .select-kit-header  {
    border: 2px solid #eeeeee;
    border-radius: 5px;
  }
}
